.recovery-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.recovery-form {
  background-color: white;
  padding: 2rem 2.5rem;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  width: 320px;
  text-align: center;
}

.logo {
  display: block;
  margin: 0 auto 16px;
  width: 100px;
  height: auto;
}

.recovery-title {
  color: #333;
  margin-bottom: 1.5rem;
}

.input-group {
  margin-bottom: 1.5rem;
}

.input-group input {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #DBD0BA;
  background-color: #DBD0BA;
  border-radius: 5px;
  font-size: 16px;
  color: #7D6B56;
  box-sizing: border-box;
}

.error {
  color: red;
  font-size: 14px;
  margin: 10px 0 0 0;
}

.success {
  color: green;
  font-size: 14px;
  margin: 10px 0 0 0;
}

.recovery-button {
  width: 50%;
  background-color: #A67C52;
  color: #FFFFFF;
  padding: 10px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 auto;
  display: block;
}

.recovery-button:hover:enabled {
  background-color: #a95125;
}

.recovery-button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
