.tarjeta-book {
  background: #FFFCF5;
  border-radius: 28px;
  border: 1.5px solid #DBD0BA;
  padding: 15px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 230px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.04);
  text-align: center;
}

.tarjeta-book-titulo {
  color: #4A3F35;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 16px 0;
}

.tarjeta-book-imagen {
  width: 130px;
  height: auto;
  border-radius: 12px;
  margin-bottom: 28px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.07);
}

.tarjeta-book-btn {
  background: #A67C52;
  color: #fff;
  font-size: 1.2rem;
  border: none;
  border-radius: 12px;
  padding: 5px 20px;
  margin-bottom: 10px;
  cursor: pointer;
  font-family: 'Montserrat', Arial, sans-serif;
  transition: background 0.2s;
}

.tarjeta-book-btn:hover {
  background: #c8bc9e;
}

.tarjeta-book-link {
  background: none;
  color: #5C4D3F;
  font-size: 1.1rem;
  font-family: 'Montserrat', Arial, sans-serif;
  cursor: pointer;
  text-decoration: underline transparent;
  transition: text-decoration 0.2s;
  border: none;
}

.tarjeta-book-link:hover {
  text-decoration: underline #a67c52;
}

.propietario-info {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  justify-content: flex-start;
  margin-bottom: 10px;
  width: 100%;
}

.propietario-img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  border: 1.5px solid #a67c52;
}

.propietario-nombre {
  color: #4A3F35;
  font-weight: 600;
  font-size: 1rem;
  font-family: 'Montserrat', Arial, sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.modal-bg {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0,0,0,0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.modal-content {
  background: #fff;
  padding: 2rem;
  border-radius: 12px;
  min-width: 300px;
  max-width: 90vw;
  box-shadow: 0 4px 24px rgba(0,0,0,0.2);

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.modal-content button {
  background: #E2D8C3;
  color: #5C4D3F;  
  margin-top: 1.5rem;
  align-self: center;
}
